    <div class="row">
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">Datetimepicker</h5>
                    </div>
                    <div class="card-body ">
                        <div class="form-group">
                            <input type="text" class="form-control datetimepicker" value="10/05/2018">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">Date Picker</h5>
                    </div>
                    <div class="card-body ">
                        <div class="form-group">
                            <input type="text" class="form-control datepicker" value="10/05/2018">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header ">
                        <h5 class="card-title">Time Picker</h5>
                    </div>
                    <div class="card-body ">
                        <div class="form-group">
                            <input type="text" class="form-control timepicker" value="10/05/2018">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">Toggle Buttons</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="category">Default</p>
                                        <input class="bootstrap-switch" type="checkbox" data-toggle="switch" checked=""
                                               data-on-color="default" data-off-color="default" data-on-label="ON"
                                               data-off-label="OFF">
                                        <input class="bootstrap-switch" type="checkbox" data-toggle="switch"
                                               data-off-color="default" data-on-color="default" data-on-label="ON"
                                               data-off-label="OFF">
                                    </div>
                                    <div class="col-md-4">
                                        <p class="category">Plain</p>
                                        <input class="bootstrap-switch" type="checkbox" data-toggle="switch" checked=""
                                               data-on-color="primary" data-off-color="primary">
                                        <input class="bootstrap-switch" type="checkbox" data-toggle="switch"
                                               data-off-color="primary" data-on-color="primary">
                                    </div>
                                    <div class="col-md-4">
                                        <p class="category">With Icons</p>
                                        <input class="bootstrap-switch" type="checkbox" data-toggle="switch" checked
                                               data-on-label="<i class='nc-icon nc-check-2'></i>"
                                               data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                               data-on-color="success" data-off-color="success" />
                                        <input class="bootstrap-switch" type="checkbox" data-toggle="switch"
                                               data-on-label="<i class='nc-icon nc-check-2'></i>"
                                               data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                               data-on-color="success" data-off-color="success" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title">Customisable Select</h4>
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                        <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round"
                                                title="Single Select">
                                            <option disabled selected>Single Option</option>
                                            <option value="2">Foobar</option>
                                            <option value="3">Is great</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-3">
                                        <select class="selectpicker" data-style="btn btn-info btn-round" multiple
                                                title="Choose City" data-size="7">
                                            <option disabled> Multiple Options</option>
                                            <option value="2">Paris </option>
                                            <option value="3">Bucharest</option>
                                            <option value="4">Rome</option>
                                            <option value="5">New York</option>
                                            <option value="6">Miami </option>
                                            <option value="7">Piatra Neamt</option>
                                            <option value="8">Paris </option>
                                            <option value="9">Bucharest</option>
                                            <option value="10">Rome</option>
                                            <option value="11">New York</option>
                                            <option value="12">Miami </option>
                                            <option value="13">Piatra Neamt</option>
                                            <option value="14">Paris </option>
                                            <option value="15">Bucharest</option>
                                            <option value="16">Rome</option>
                                            <option value="17">New York</option>
                                            <option value="18">Miami </option>
                                            <option value="19">Piatra Neamt</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">Tags</h4>
                                <input type="text" value="Amsterdam,Washington,Sydney,Beijing" class="tagsinput"
                                       data-role="tagsinput" data-color="primary" />
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title">Dropdown & Dropup</h4>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-3">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle btn btn-primary btn-round btn-block"
                                                    type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                Dropdown
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right"
                                                 aria-labelledby="dropdownMenuButton">
                                                <div class="dropdown-header">Dropdown header</div>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-3">
                                        <div class="dropup">
                                            <button type="button"
                                                    class="dropdown-toggle btn btn-primary btn-round btn-block"
                                                    data-toggle="dropdown">
                                                Dropup
                                            </button>
                                            <div class="dropdown-menu">
                                                <div class="dropdown-header">Dropdown header</div>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">Progress Bars</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <br />
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <br />
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 15%"
                                         aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 30%"
                                         aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 20%"
                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title">Sliders</h4>
                                <div id="sliderRegular" class="slider slider-success"></div>
                                <br>
                                <div id="sliderDouble" class="slider slider-primary"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <h4 class="card-title">Regular Image</h4>
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                        <img src="https://paper-dashboard-pro-laravel.creative-tim.com/img/image_placeholder.jpg" alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <div>
                                        <span class="btn btn-rose btn-round btn-file">
                                            <span class="fileinput-new">Select image</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="..." />
                                        </span>
                                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                           data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <h4 class="card-title">Avatar</h4>
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail img-circle">
                                        <img src="https://paper-dashboard-pro-laravel.creative-tim.com/img/placeholder.jpg" alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                                    <div>
                                        <span class="btn btn-round btn-rose btn-file">
                                            <span class="fileinput-new">Add Photo</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="..." />
                                        </span>
                                        <br />
                                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                           data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Stacked Form</h4>
                    </div>
                    <div class="card-body ">
                        <form method="#" action="#">
                            <label>Email address</label>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter email">
                            </div>
                            <label>Password</label>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-check mt-3">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value=""> Subscribe to newsletter
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer ">
                        <button type="submit" class="btn btn-info btn-round">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Horizontal Form</h4>
                    </div>
                    <div class="card-body ">
                        <form class="form-horizontal">
                            <div class="row">
                                <label class="col-md-3 col-form-label">Username</label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-form-label">Email</label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-form-label">Password</label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer ">
                        <div class="row">
                            <label class="col-md-3"></label>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-info btn-round">Sign in</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Form Elements</h4>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">With help</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                        <span class="form-text">A block of help text that breaks onto a new line.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Placeholder</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="placeholder">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Disabled</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="Disabled input here.." disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Static control</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <p class="form-control-static"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6109040d0d0e2102130400150817044c15080c4f020e0c">[email&#160;protected]</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Checkboxes and radios</label>
                                <div class="col-sm-10 checkbox-radios">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            First Checkbox
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Second Checkbox
                                        </label>
                                    </div>
                                    <div class="form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="exampleRadioz"
                                                   id="exampleRadios11" value="option1"> First Radio
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="exampleRadioz"
                                                   id="exampleRadios12" value="option2" checked=""> Second Radio
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Inline checkboxes</label>
                                <div class="col-sm-10">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" checked>
                                            <span class="form-check-sign"></span>
                                            a
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            b
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            c
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Input Variants</h4>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Custom Checkboxes &amp; radios</label>
                                <div class="col-sm-4 col-sm-offset-1 checkbox-radios">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            Unchecked
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" checked>
                                            <span class="form-check-sign"></span>
                                            Checked
                                        </label>
                                    </div>
                                    <div class="form-check disabled">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" disabled>
                                            <span class="form-check-sign"></span>
                                            Disabled Unchecked
                                        </label>
                                    </div>
                                    <div class="form-check disabled">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" disabled>
                                            <span class="form-check-sign"></span>
                                            Disabled Checked
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="exampleRadios"
                                                   id="exampleRadios1" value="option1"> Radio is off
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="exampleRadios"
                                                   id="exampleRadios2" value="option2" checked=""> Radio is on
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check-radio disabled">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="exampleRadios"
                                                   id="exampleRadios3" value="option3" disabled=""> Disabled radio is off
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check-radio disabled">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="exampleRadioz"
                                                   id="exampleRadios4" value="option4" checked="" disabled=""> Disabled radio
                                            is on
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Input with success</label>
                                <div class="col-sm-10">
                                    <div class="form-group has-success">
                                        <input type="text" class="form-control" value="Success">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Input with error</label>
                                <div class="col-sm-10">
                                    <div class="form-group has-danger">
                                        <input type="text" class="form-control" value="Error">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Column sizing</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=".col-md-3">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=".col-md-4">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder=".col-md-5">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>